<p id="notice"><%= notice %></p>

<h1>Listing Baghs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @baghs.each do |bagh| %>
      <tr>
        <td><%= bagh.name %></td>
        <td><%= bagh.address %></td>
        <td><%= link_to 'Show', bagh %></td>
        <td><%= link_to 'Edit', edit_bagh_path(bagh) %></td>
        <td><%= link_to 'Destroy', bagh, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bagh', new_bagh_path %>
